<?xml version="1.0"?>
<launch>
    <node name="cart_collection" pkg="cart_collection" type="cart_collection" output="screen">
        <!-- get cart pose state params -->
        <param name="map_frame_name" type="str" value="map" />
        <remap from="get_objects" to="/get_objects" />
        <remap from="cart_pose" to="/cart_collection/selected_cart_pose" />

        <!-- get cart setpoint state params -->
        <param name="robot_length_m" type="double" value="0.73" />
        <param name="cart_length_m" type="double" value="0.81" />
        <param name="distance_to_cart_m" type="double" value="0.4" />
        <remap from="cart_predock_pose" to="/cart_collection/cart_predock_pose" />

        <!-- go to predock setpoint state params -->
        <remap from="nav_goal" to="/route_navigation/goal" />
        <remap from="nav_feedback" to="/route_navigation/feedback" />
        <!-- also used in get post dock setpoint and go to post dock setpoint -->
        <remap from="localisation_pose" to="/amcl_pose" />

        <!-- align and approach cart state params -->
        <remap from="cart_pose_feedback" to="/cart_plane_detector/objects" />
        <remap from="toggle_cart_publisher_srv" to="/cart_plane_detector/toggle_object_publisher" />
        <remap from="cmd_vel" to="/ropod/cmd_vel" />
        <remap from="cart_approach_pose" to="/cart_collection/cart_approach_pose" />
        <param name="offset_to_approach_pose_m" type="double" value="0.5" />
        <param name="backward_vel_docking_ms" type="double" value="0.1" />
        <param name="max_rot_vel_docking_rads" type="double" value="0.1" />
        <param name="approach_x_thresh_m" type="double" value="0.05" />
        <param name="approach_y_thresh_m" type="double" value="0.05" />
        <param name="approach_yaw_thresh_rad" type="double" value="0.1" />

        <!-- couple to cart state params-->
        <remap from="docking_cmd" to="/ropod/ropod_low_level_control/cmd_dock" />
        <remap from="docking_feedback" to="/ropod/ropod_low_level_control/dockingFeedback" />
        <remap from="set_load_attached" to="/route_navigation/set_load_attached" />
        <param name="max_coupling_attempts" type="int" value="3" />

        <!-- get setpoint in post dock area state params-->
        <remap from="cart_post_dock_pose" to="/cart_collection/cart_post_dock_pose" />
        <param name="post_dock_forward_distance_m" type="double" value="0.1" />

        <!-- get setpoint in pre undock area state params-->
        <remap from="cart_pre_undock_pose" to="/cart_collection/cart_pre_undock_pose" />

        <!-- get setpoint in post undock area state params-->
        <remap from="cart_post_undock_pose" to="/cart_collection/cart_post_undock_pose" />
    </node>
</launch>
